.baniere {
	width: 100%;
	height: 300px;
	
}



body{
	

	padding: 0;
    margin: 0;
    margin-bottom: 0;
    
    
}

.orange{
	background-color: #FFAB00;
	height: auto;

}

a.nav-link{
	color:white;
}

li.nav-item{
	
}

.footer{
	background-color: #212529;
	height: 90px;
}





